@model CityLibrary.Web.ViewModels.BookViewModel 
     

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "Book"))
{
       
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ReleaseDate").kendoDatePicker();
 
        });

    </script>
    <div class="modal hide fade" id="book-modal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Edycja książki</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="control-group">
                    <span class="control-label">Author</span>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.BookModel.Author, new { @class = "span4"})
                        @Html.ValidationMessageFor(m => m.BookModel.Author)
                    </div>
                </div>
                <div class="control-group">
                    <span class="control-label">ISBN</span>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.BookModel.ISBN, new { @class = "span4"})
                        @Html.ValidationMessageFor(m => m.BookModel.ISBN)
                    </div>
                </div>
               <div class="control-group">
                    <span class="control-label">Genre</span>
                    <div class="controls">
                        
                        @Html.TextBoxFor(m => m.BookModel.BookGenreId)
                        @Html.ValidationMessageFor(m => m.BookModel.BookGenreId)
                    </div>
                </div>  

                <div class="control-group">
                    <span class="control-label">Title</span>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.BookModel.Title, new { @class = "span4" })
                        @Html.ValidationMessageFor(m => m.BookModel.Title)
                    </div>
                </div>
                <div class="control-group">
                    <span class="control-label">Count</span>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.BookModel.Count, new { @class = "span4" })
                        @Html.ValidationMessageFor(m => m.BookModel.Count)
                    </div>
                </div>
                <div class="control-group">
                    <span class="control-label">Release date</span>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.BookModel.ReleaseDate)
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Zapisz" />
            <a href="#" class="btn pull-left" data-dismiss="modal">Zamknij</a>
        </div>
    </div>
}
